<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PhotoBlog</title>
	</head>
	<h1>PhotoBlog</h1>
	<body>
		{% block content %}{% endblock %}

		{% if user.is_authenticated %}
		    <p>Vous êtes connecté en tant que {{ request.user }}.</p>
			<form method="post" action="{% url 'logout' %}">
			    {% csrf_token %}
                <button type="submit">Se déconnecter</button>
            </form>
		{% endif %}
	</body>
</html>